.contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: conteudo;
    height: 820px;
    max-height: 820px;
    padding-top: 8rem;
}

.content_contato {
    align-self: flex-start;
    width: 402px;
    max-width: 402px;
}

.content_contato h1 {
    font-size: 4rem;
    color: #FB5D64;
    line-height: 1;
    padding-bottom: 1rem;
    position: relative;
}

.content_contato h1::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F5F5F5;
}

.content_contato p {
    padding-top: 2rem;
    line-height: 24px;
    color: #555555;
}

.form_contato {
    display: flex;
    flex-direction: column;
    color: #555555;
    align-self: flex-start;
}

.form_contato label {
    font-size: 1rem;
    margin-bottom: .5rem;
    padding-bottom: 5px;
    position: relative;
}

.form_contato label::after{
    content: "";
    width: 90px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F5F5F5;
}

.form_contato input {
    width: 550px;
    max-width: 550px;
    height: 2rem;
    max-height: 2rem;
    border: 4px solid #D6DFFF;
    background-color: #EAEFFF;
    outline: none;
    margin-bottom: 2rem;
    border-radius: 5px;
}


.form_contato textarea {
    margin-bottom: 10px;
    background: none;
    width: 100%;
    border: 4px solid #D6DFFF;
    background-color: #EAEFFF;
    height: 35px;
    color: #000;
    outline: none;
    padding: 7px 10px;
    height: 256px;
    max-height: 256px;
    resize: none;
    border-radius: 5px;
}

.form_contato button {
    margin-top: 2rem;
    width: 150px;
    height: 4rem;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #FB5D64;
}

@media screen and (max-width: 1024px){
    .grid-container {
        grid-template-columns: repeat(12, 60px);
    }

    .form_contato input {
        width: 450px;
    }
}

@media screen and (max-width: 768px){
    .grid-container {
        grid-template-columns: repeat(12, 33.33px);
    }

    .contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        margin-bottom: 9rem;
        text-align: center;
    }

    .form_contato input {
        width: 800px;
    }

    .content_contato {
        margin: 0 auto;
    }

    .content_contato h1{
        font-size: 3.5rem;
    }

    .form_contato {
        text-align: left;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .content_contato p {
        margin-bottom: 2rem;

    }

}

@media screen and (max-width: 425px){

    .grid-container {
        grid-template-columns: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .content_contato {
        padding: 0 3.75rem;
    }
    
    .content_contato h1 {
        font-size: 2.5rem;
    }

    .form_contato input {
        max-width: 360px;
    }

    .form_contato button {
        width: 150px;
    }
}

@media screen and (max-width: 320px){
    .projetos h1 {
        font-size: 8px;
    }

    .form_contato input {
        max-width: 300px;
    }

    .form_contato button {
        max-width: 100px;
    }
}
