.project {
    display: grid;
    grid-template-columns: repeat(12, 75px);   
}

.projetos {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 2rem 0;
}

.projetos h1 {
    color: #FB5D64;
    font-size: 2rem;
}

.projetos h2 {
    font-size: 1rem;
    width: 382px;
    max-width: 382px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding-top: .5rem;
}

.list_projects {
    display: inline-flex;
    width: 343px;
    max-width: 343px;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
}

.list_projects .type_project {
    color: #000;
    font-weight: bold;
    position: relative;
}

.list_projects .type_project a:visited {
    color: #000;
}

.a_type::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #FB5D64;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .4s ease-in-out;
}

.a_type:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.selected::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #FB5D64;
    transform: scaleX(1);
    transition: all .4s ease-in-out;
}

.grid-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 0 2rem 0;
    column-gap: 20px;
    row-gap: 20px;
}

.project_item {
    width: 360px;
    height: 256px;
    background: #FFF;
    border: 1px solid #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.project_hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.project_hover:hover {
    opacity: .7;
}


.project_hover .name_project {
    font-weight: 300;
}

.project_hover .tecnology_project {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-style: italic;
}


@media screen and (max-width: 1024px){
    .grid-container {
        grid-template-columns: repeat(12, 60px);
    }

    .project_item {
        width: 300px;
    }

}

@media screen and (max-width: 768px){
    .grid-container {
        grid-template-columns: repeat(12, 33.33px);
    }
    .project_item {
        width: 200px;
    }

}

@media screen and (max-width: 425px){

    .grid-container {
        grid-template-columns: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .projetos {
        margin-top: 2rem;
    }

    .grid-projects {
        grid-template-columns: 100%;
    }

    .project_item {
        width: 300px;
    }
    
    .projetos h1 {
        font-size: 1.5rem;
    }

    .list_projects {
        justify-content: space-evenly;
    }

}




